# Игнорирование временных и компилированных файлов
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
.idea
*.egg
package-lock.json
package.json

# Игнорирование специфических файлов
test2.py
test.py
bertopic2.py
bertopic_test_keys.py
pyvenv.cfg
pyproject.toml

# Логи установщиков
pip-log.txt
pip-delete-this-directory.txt

# Отчеты о тестах / покрытиях
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Переводы
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff
*.log
*.pot

# Sphinx documentation
docs/_build/

# Папки и файлы, которые нужно игнорировать
files/
poetry..
data/
etc/
include/
share/

# Игнорирование переменных окружения
*.env
test*.py

# Игнорирование других компилируемых файлов
**/__pycache__/
*.pyc
*.pyo
*.sografana_11.4.0_amd64.deb
